.btStyle
{
    position: absolute;
    transform: translate(-30%, -30%);
    -ms-transform: translate(-30%, -30%);
    margin-bottom: 1000px;
    margin-left: 100px;
    padding-bottom: 34px;
    margin-top: 160px;
}
.app {
    position: relative;
    width: 100%;
    max-width: 400px;
    background-color: #f56b10;
}
.person {
    margin-top: 40px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #283031;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.bg {
}
.red{
    background-color: red ;
}
.bold
{
    font-weight: bold;
}
/*!* jadiiiiid */
.red {
    color: red;
  }

  .bold {
    font-weight: bold;
  }

  .Cockpit button {
    border: 1px solid blue;
    padding: 16px;
    background-color: green;
    font: inherit;
    color: white;
    cursor: pointer;
  }

  .Cockpit button:hover {
    background-color: lightgreen;
    color: black;
  }

  .Cockpit button.Red {
    background-color: red;
  }

  .Cockpit button.Red:hover {
    background-color: salmon;
    color: black;
  }

/*.btStyle {*/

/*position: auto,*/
/*backgroundColor: green,*/
/*color: white,*/
/*font: inherit,*/
/*border:*/

/*1*/
/*px solid blue,*/
/*padding:*/

/*8*/
/*px,*/
/*cursor: pointer*/

/*',*/
/*hover: {*/
    /*backgroundColor: lightgreen,*/
    /*color: black*/
/*}*/



/*.background-image {*/
/*position: fixed;*/
/*left: 0;*/
/*right: 0;*/
/*z-index: 1;*/

/*display: block;*/
/*background-image: url('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_527bf56961712_1.JPG');*/
/*width: 1200px;*/
/*height: 800px;*/

/*-webkit-filter: blur(5px);*/
/*-moz-filter: blur(5px);*/
/*-o-filter: blur(5px);*/
/*-ms-filter: blur(5px);*/
/*filter: blur(5px);*/
/*}*/

/*.content:before {*/
/*content: "";*/
/*position: fixed;*/
/*left: 0;*/
/*right: 0;*/
/*z-index: -1;*/

/*display: block;*/
/*background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg');*/
/*width: 1200px;*/
/*height: 800px;*/

/*-webkit-filter: blur(1px);*/
/*-moz-filter: blur(1px);*/
/*-o-filter: blur(1px);*/
/*-ms-filter: blur(1px);*/
/*filter: blur(1px);*/
/*}*/

/*.content {*/
/*position: fixed;*/
/*left: 0;*/
/*right: 0;*/
/*z-index: 0;*/
/*margin-left: 20px;*/
/*margin-right: 20px;*/
/*}*/
